<h1 mat-dialog-title>Confirmar acción</h1>
<div mat-dialog-content>
    <p [innerHTML]="alert" class="alert destroy-ppg__alert"></p>
    <p>Está seguro de que desea eliminar esta elemento?</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button color="warn" (click)="destroyPpg()" cdkFocusInitial>Eliminar</button>
</div>