.model {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: start;
    align-items: stretch;

    width: 100%;
    height: calc(100% - 64px);
}

.model__header {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.model__reload {
    display: flex;
    align-items: center;
}

.model__no-margin {
    margin: 0;
}

.model__results {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.model__matrix {
    width: 100%;
}

.model__accuracy {
    font-size: 80pt;
    line-height: 80pt;
    text-align: center;
}

.show {
    display: none;
}