<app-toolbar [title]="'Resultados del entrenamiento'" [back]="'/'"></app-toolbar>
<app-spinner [class.show]="!loading"></app-spinner>
<div class="model" [class.show]="loading">
    <div class="model__header">
        <div class="model__reload">
            <button mat-icon-button (click)="downloadCsv()">
                <mat-icon>download</mat-icon>
            </button>
            <p class="model__no-margin">Descargar CSV de entrenamiento</p>
        </div>
    </div>
    <div class="model__results">
        <div #matrix class="model__matrix"></div>
        <p class="model__accuracy">Accuracy<br>{{model?.accuracy_score}}</p>
    </div>
</div>