.ppg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: start;
    align-items: stretch;

    width: 100%;
    height: calc(100% - 64px);
}

.ppg__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1%;
    height: 9%;
}

.ppg__table-wrapper {
    display: flex;
    align-items: stretch;
    overflow: auto;

    flex-basis: 20%;
    flex-shrink: 0;
    flex-grow: 0;
}

.ppg__table {
    flex-grow: 1;
}

.ppg__descriptors {
    display: flex;
    flex-direction: column;
}

.ppg__spinner {
    display: flex;
    align-items: center;
}

.ppg__no-margin {
    margin: 0;
}

.ppg__loading {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.ppg__reload {
    display: flex;
    align-items: center;
}

.ppg__plot {
    width: 100%;
    height: 100%;
}

.show {
    display: none;
}

.mat-column-id,
.mat-column-bp_systolic,
.mat-column-bp_diastolic,
.mat-column-true_gluco,
.mat-column-subject_age,
.mat-column-subject_height,
.mat-column-subject_weight,
.mat-column-subject_sex,
.mat-column-subject_isdiabetic,
.mat-column-subject_email,
.mat-column-dim_corr,
.mat-column-hurst_exp,
.mat-column-lyapunov_exp,
.mat-column-details,
.mat-column-delete {
    text-align: center;
}

.mat-column-dim_corr,
.mat-column-hurst_exp,
.mat-column-lyapunov_exp {
    background-color: rgba(0,0,0,.12);
}

.mat-column-true_gluco {
    background-color: #ffa8b2;
}