<app-toolbar [title]="'Detalles de PPG'" [back]="'/'"></app-toolbar>
<app-spinner *ngIf="loading"></app-spinner>
<div class="ppg" *ngIf="!loading">
    <div class="ppg__header">
        <div class="ppg__reload">
            <button mat-icon-button (click)="showPpg()">
                <mat-icon>refresh</mat-icon>
            </button>
            <p class="ppg__no-margin">Recargar resultados</p>
        </div>
    </div>
    <div class="ppg__table-wrapper">   
        <table mat-table [dataSource]="dataSource" class="ppg__table">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="bp_systolic">
                <th mat-header-cell *matHeaderCellDef> Presión sitólica </th>
                <td mat-cell *matCellDef="let element"> {{element.bp_systolic}} </td>
            </ng-container>
            <ng-container matColumnDef="bp_diastolic">
                <th mat-header-cell *matHeaderCellDef> Presión diastólica </th>
                <td mat-cell *matCellDef="let element"> {{element.bp_diastolic}} </td>
            </ng-container>
            <ng-container matColumnDef="true_gluco">
                <th mat-header-cell *matHeaderCellDef> Glucosa real </th>
                <td mat-cell *matCellDef="let element"> {{element.true_gluco}} </td>
            </ng-container>
            <ng-container matColumnDef="subject_age">
                <th mat-header-cell *matHeaderCellDef> Edad </th>
                <td mat-cell *matCellDef="let element"> {{element.subject_age}} </td>
            </ng-container>
            <ng-container matColumnDef="subject_height">
                <th mat-header-cell *matHeaderCellDef> Estatura </th>
                <td mat-cell *matCellDef="let element"> {{element.subject_height}} </td>
            </ng-container>
            <ng-container matColumnDef="subject_weight">
                <th mat-header-cell *matHeaderCellDef> Peso </th>
                <td mat-cell *matCellDef="let element"> {{element.subject_weight}} </td>
            </ng-container>
            <ng-container matColumnDef="subject_sex">
                <th mat-header-cell *matHeaderCellDef> Sexo </th>
                <td mat-cell *matCellDef="let element"> {{element.subject_sex == 'male' ? 'Hombre' : 'Mujer'}} </td>
            </ng-container>
            <ng-container matColumnDef="subject_isdiabetic">
                <th mat-header-cell *matHeaderCellDef> Es diabético </th>
                <td mat-cell *matCellDef="let element"> {{element.subject_isdiabetic == 0 ? 'No' : 'Sí'}} </td>
            </ng-container>
            <ng-container matColumnDef="subject_email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.subject_email}} </td>
            </ng-container>
            <ng-container matColumnDef="dim_corr">
                <th mat-header-cell *matHeaderCellDef> Dimensión de correlación </th>
                <td mat-cell *matCellDef="let element">
                    <div class="ppg__descriptors">
                        <div class="ppg__no-margin" [ngSwitch]="element.processing_status_ppg">
                            <div class="ppg__spinner" *ngSwitchCase="0">
                                <p class="ppg__no-margin">PPG dedo:&nbsp;&nbsp;</p>
                                <mat-spinner [diameter]="15" ></mat-spinner>
                            </div>
                            <p *ngSwitchDefault class="ppg__no-margin">PPG dedo: {{element.processing_status_ppg == 1 ? element.dim_corr_ppg : 'error'}}</p>
                        </div>
                        <div class="ppg__no-margin" [ngSwitch]="element.processing_status_alt">
                            <div class="ppg__spinner" *ngSwitchCase="0">
                                <p class="ppg__no-margin">PPG oreja:&nbsp;&nbsp;</p>
                                <mat-spinner [diameter]="15" ></mat-spinner>
                            </div>
                            <p *ngSwitchDefault class="ppg__no-margin">PPG oreja: {{element.processing_status_alt == 1 ? element.dim_corr_alt : 'error'}}</p>
                        </div>
                        <div class="ppg__no-margin" [ngSwitch]="element.processing_status_ecg">
                            <div class="ppg__spinner" *ngSwitchCase="0">
                                <p class="ppg__no-margin">ECG:&nbsp;&nbsp;</p>
                                <mat-spinner [diameter]="15" ></mat-spinner>
                            </div>
                            <p *ngSwitchDefault class="ppg__no-margin">ECG: {{element.processing_status_ecg == 1 ? element.dim_corr_ecg : 'error'}}</p>
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="hurst_exp">
                <th mat-header-cell *matHeaderCellDef> Exponente de Hurst </th>
                <td mat-cell *matCellDef="let element">
                    <div class="ppg__descriptors">
                        <div class="ppg__no-margin" [ngSwitch]="element.processing_status_ppg">
                            <div class="ppg__spinner" *ngSwitchCase="0">
                                <p class="ppg__no-margin">PPG dedo:&nbsp;&nbsp;</p>
                                <mat-spinner [diameter]="15" ></mat-spinner>
                            </div>
                            <p *ngSwitchDefault class="ppg__no-margin">PPG dedo: {{element.processing_status_ppg == 1 ? element.hurst_exp_ppg : 'error'}}</p>
                        </div>
                        <div class="ppg__no-margin" [ngSwitch]="element.processing_status_alt">
                            <div class="ppg__spinner" *ngSwitchCase="0">
                                <p class="ppg__no-margin">PPG oreja:&nbsp;&nbsp;</p>
                                <mat-spinner [diameter]="15" ></mat-spinner>
                            </div>
                            <p *ngSwitchDefault class="ppg__no-margin">PPG oreja: {{element.processing_status_alt == 1 ? element.hurst_exp_alt : 'error'}}</p>
                        </div>
                        <div class="ppg__no-margin" [ngSwitch]="element.processing_status_ecg">
                            <div class="ppg__spinner" *ngSwitchCase="0">
                                <p class="ppg__no-margin">ECG:&nbsp;&nbsp;</p>
                                <mat-spinner [diameter]="15" ></mat-spinner>
                            </div>
                            <p *ngSwitchDefault class="ppg__no-margin">ECG: {{element.processing_status_ecg == 1 ? element.hurst_exp_ecg : 'error'}}</p>
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="lyapunov_exp">
                <th mat-header-cell *matHeaderCellDef> Exponente de Lyapunov </th>
                <td mat-cell *matCellDef="let element">
                    <div class="ppg__descriptors">
                        <div class="ppg__no-margin" [ngSwitch]="element.processing_status_ppg">
                            <div class="ppg__spinner" *ngSwitchCase="0">
                                <p class="ppg__no-margin">PPG dedo:&nbsp;&nbsp;</p>
                                <mat-spinner [diameter]="15" ></mat-spinner>
                            </div>
                            <p *ngSwitchDefault class="ppg__no-margin">PPG dedo: {{element.processing_status_ppg == 1 ? element.lyapunov_exp_ppg : 'error'}}</p>
                        </div>
                        <div class="ppg__no-margin" [ngSwitch]="element.processing_status_alt">
                            <div class="ppg__spinner" *ngSwitchCase="0">
                                <p class="ppg__no-margin">PPG oreja:&nbsp;&nbsp;</p>
                                <mat-spinner [diameter]="15" ></mat-spinner>
                            </div>
                            <p *ngSwitchDefault class="ppg__no-margin">PPG oreja: {{element.processing_status_alt == 1 ? element.lyapunov_exp_alt : 'error'}}</p>
                        </div>
                        <div class="ppg__no-margin" [ngSwitch]="element.processing_status_ecg">
                            <div class="ppg__spinner" *ngSwitchCase="0">
                                <p class="ppg__no-margin">ECG:&nbsp;&nbsp;</p>
                                <mat-spinner [diameter]="15" ></mat-spinner>
                            </div>
                            <p *ngSwitchDefault class="ppg__no-margin">ECG: {{element.processing_status_ecg == 1 ? element.lyapunov_exp_ecg : 'error'}}</p>
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn" (click)="openDestroyPpgDialog()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
    </div>
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="PPG dedo">
            <div class="ppg__plot">
                <app-time-series [y]="ppgSeries"></app-time-series>
            </div>
        </mat-tab>
        <mat-tab label="PPG oreja">
            <div class="ppg__plot">
                <app-time-series [y]="ppgAltSeries"></app-time-series>
            </div>
        </mat-tab>
        <mat-tab label="ECG">
            <div class="ppg__plot">
                <app-time-series [y]="ecgSeries"></app-time-series>
            </div>
        </mat-tab>
        <mat-tab label="Attractor PPG dedo">
            <div class="ppg__plot">
                <app-attractor [series]="ppgAttractor"></app-attractor>
            </div>
        </mat-tab>
        <mat-tab label="Attractor PPG oreja">
            <div class="ppg__plot">
                <app-attractor [series]="ppgAltAttractor"></app-attractor>
            </div>
        </mat-tab>
        <mat-tab label="Attractor ECG">
            <div class="ppg__plot">
                <app-attractor [series]="ecgAttractor"></app-attractor>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>