<mat-toolbar color="primary" class="toolbar">
    <div>
        <button mat-icon-button routerLink="/">
            <mat-icon>home</mat-icon>
        </button>
    </div>
    <span>{{title}}</span>
    <div>
        <button *ngIf="back" mat-icon-button routerLink="{{back}}">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
</mat-toolbar>