<app-toolbar [title]="'Visualizador de PPGs'"></app-toolbar>
<app-spinner *ngIf="loading"></app-spinner>
<div class="ppgs" *ngIf="!loading">
    <div class="ppgs__header">
        <form class="ppgs__action" [formGroup]="ppgActionForm">
            <mat-form-field>
                <mat-label>Seleccione una acción</mat-label>
                <mat-select formControlName="type" [disabled]="selection.selected.length == 0" [(ngModel)]="selectedType">
                    <mat-option [value]="0">Reprocesar descriptores</mat-option>
                    <mat-option [value]="1">Entrenar modelo</mat-option>
                </mat-select>
            </mat-form-field>
            <button class="ppgs__button" mat-raised-button color="accent" (click)="ppgAction()" [disabled]="selectedType != '0' && selectedType!= '1' || selection.selected.length == 0"> Ejecutar acción</button>
            <p class="ppgs__counter">{{selection.selected.length}} filas seleccionadas</p>
        </form>
        <div class="ppgs__reload">
            <button mat-icon-button (click)="ppgIndex()">
                <mat-icon>refresh</mat-icon>
            </button>
            <p class="ppgs__no-margin">Recargar resultados</p>
        </div>
        <!-- <mat-paginator [length]="total" pageSize="pageSize" [pageSizeOptions]="[pageSize]" (page)="changePage($event)">
        </mat-paginator> -->
    </div>
    <mat-form-field class="ppgs__filter">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar resultados" #input>
    </mat-form-field>      
    <table mat-table [dataSource]="dataSource" class="ppgs-table">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox [disabled]="isProcessing(row)" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="bp_systolic">
            <th mat-header-cell *matHeaderCellDef> Presión sitólica </th>
            <td mat-cell *matCellDef="let element"> {{element.bp_systolic}} </td>
        </ng-container>
        <ng-container matColumnDef="bp_diastolic">
            <th mat-header-cell *matHeaderCellDef> Presión diastólica </th>
            <td mat-cell *matCellDef="let element"> {{element.bp_diastolic}} </td>
        </ng-container>
        <ng-container matColumnDef="true_gluco">
            <th mat-header-cell *matHeaderCellDef> Glucosa real </th>
            <td mat-cell *matCellDef="let element"> {{element.true_gluco}} </td>
        </ng-container>
        <ng-container matColumnDef="subject_age">
            <th mat-header-cell *matHeaderCellDef> Edad </th>
            <td mat-cell *matCellDef="let element"> {{element.subject_age}} </td>
        </ng-container>
        <ng-container matColumnDef="subject_height">
            <th mat-header-cell *matHeaderCellDef> Estatura </th>
            <td mat-cell *matCellDef="let element"> {{element.subject_height}} </td>
        </ng-container>
        <ng-container matColumnDef="subject_weight">
            <th mat-header-cell *matHeaderCellDef> Peso </th>
            <td mat-cell *matCellDef="let element"> {{element.subject_weight}} </td>
        </ng-container>
        <ng-container matColumnDef="subject_sex">
            <th mat-header-cell *matHeaderCellDef> Sexo </th>
            <td mat-cell *matCellDef="let element"> {{element.subject_sex == 'male' ? 'Hombre' : 'Mujer'}} </td>
        </ng-container>
        <ng-container matColumnDef="subject_isdiabetic">
            <th mat-header-cell *matHeaderCellDef> Es diabético </th>
            <td mat-cell *matCellDef="let element"> {{element.subject_isdiabetic == 0 ? 'No' : 'Sí'}} </td>
        </ng-container>
        <ng-container matColumnDef="subject_email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.subject_email}} </td>
        </ng-container>
        <ng-container matColumnDef="dim_corr">
            <th mat-header-cell *matHeaderCellDef> Dimensión de correlación </th>
            <td mat-cell *matCellDef="let element">
                <div class="ppgs__descriptors">
                    <div class="ppgs__no-margin" [ngSwitch]="element.processing_status_ppg">
                        <div class="ppgs__spinner" *ngSwitchCase="0">
                            <p class="ppgs__no-margin">PPG dedo:&nbsp;&nbsp;</p>
                            <mat-spinner [diameter]="15"></mat-spinner>
                        </div>
                        <p *ngSwitchDefault class="ppgs__no-margin">PPG dedo: {{element.processing_status_ppg == 1 ?
                            element.dim_corr_ppg : 'error'}}</p>
                    </div>
                    <div class="ppgs__no-margin" [ngSwitch]="element.processing_status_alt">
                        <div class="ppgs__spinner" *ngSwitchCase="0">
                            <p class="ppgs__no-margin">PPG oreja:&nbsp;&nbsp;</p>
                            <mat-spinner [diameter]="15"></mat-spinner>
                        </div>
                        <p *ngSwitchDefault class="ppgs__no-margin">PPG oreja: {{element.processing_status_alt == 1 ?
                            element.dim_corr_alt : 'error'}}</p>
                    </div>
                    <div class="ppgs__no-margin" [ngSwitch]="element.processing_status_ecg">
                        <div class="ppgs__spinner" *ngSwitchCase="0">
                            <p class="ppgs__no-margin">ECG:&nbsp;&nbsp;</p>
                            <mat-spinner [diameter]="15"></mat-spinner>
                        </div>
                        <p *ngSwitchDefault class="ppgs__no-margin">ECG: {{element.processing_status_ecg == 1 ?
                            element.dim_corr_ecg : 'error'}}</p>
                    </div>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="hurst_exp">
            <th mat-header-cell *matHeaderCellDef> Exponente de Hurst </th>
            <td mat-cell *matCellDef="let element">
                <div class="ppgs__descriptors">
                    <div class="ppgs__no-margin" [ngSwitch]="element.processing_status_ppg">
                        <div class="ppgs__spinner" *ngSwitchCase="0">
                            <p class="ppgs__no-margin">PPG dedo:&nbsp;&nbsp;</p>
                            <mat-spinner [diameter]="15"></mat-spinner>
                        </div>
                        <p *ngSwitchDefault class="ppgs__no-margin">PPG dedo: {{element.processing_status_ppg == 1 ?
                            element.hurst_exp_ppg : 'error'}}</p>
                    </div>
                    <div class="ppgs__no-margin" [ngSwitch]="element.processing_status_alt">
                        <div class="ppgs__spinner" *ngSwitchCase="0">
                            <p class="ppgs__no-margin">PPG oreja:&nbsp;&nbsp;</p>
                            <mat-spinner [diameter]="15"></mat-spinner>
                        </div>
                        <p *ngSwitchDefault class="ppgs__no-margin">PPG oreja: {{element.processing_status_alt == 1 ?
                            element.hurst_exp_alt : 'error'}}</p>
                    </div>
                    <div class="ppgs__no-margin" [ngSwitch]="element.processing_status_ecg">
                        <div class="ppgs__spinner" *ngSwitchCase="0">
                            <p class="ppgs__no-margin">ECG:&nbsp;&nbsp;</p>
                            <mat-spinner [diameter]="15"></mat-spinner>
                        </div>
                        <p *ngSwitchDefault class="ppgs__no-margin">ECG: {{element.processing_status_ecg == 1 ?
                            element.hurst_exp_ecg : 'error'}}</p>
                    </div>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="lyapunov_exp">
            <th mat-header-cell *matHeaderCellDef> Exponente de Lyapunov </th>
            <td mat-cell *matCellDef="let element">
                <div class="ppgs__descriptors">
                    <div class="ppgs__no-margin" [ngSwitch]="element.processing_status_ppg">
                        <div class="ppgs__spinner" *ngSwitchCase="0">
                            <p class="ppgs__no-margin">PPG dedo:&nbsp;&nbsp;</p>
                            <mat-spinner [diameter]="15"></mat-spinner>
                        </div>
                        <p *ngSwitchDefault class="ppgs__no-margin">PPG dedo: {{element.processing_status_ppg == 1 ?
                            element.lyapunov_exp_ppg : 'error'}}</p>
                    </div>
                    <div class="ppgs__no-margin" [ngSwitch]="element.processing_status_alt">
                        <div class="ppgs__spinner" *ngSwitchCase="0">
                            <p class="ppgs__no-margin">PPG oreja:&nbsp;&nbsp;</p>
                            <mat-spinner [diameter]="15"></mat-spinner>
                        </div>
                        <p *ngSwitchDefault class="ppgs__no-margin">PPG oreja: {{element.processing_status_alt == 1 ?
                            element.lyapunov_exp_alt : 'error'}}</p>
                    </div>
                    <div class="ppgs__no-margin" [ngSwitch]="element.processing_status_ecg">
                        <div class="ppgs__spinner" *ngSwitchCase="0">
                            <p class="ppgs__no-margin">ECG:&nbsp;&nbsp;</p>
                            <mat-spinner [diameter]="15"></mat-spinner>
                        </div>
                        <p *ngSwitchDefault class="ppgs__no-margin">ECG: {{element.processing_status_ecg == 1 ?
                            element.lyapunov_exp_ecg : 'error'}}</p>
                    </div>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Detalles </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button routerLink="/ppgs/{{element.id}}">
                    <mat-icon>open_in_full</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </tr>
    </table>
</div>