.ppgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: start;
    align-items: stretch;

    width: 100%;
    height: calc(100% - 64px);
}

.ppgs__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2vh;
}

.ppgs__counter {
    margin: 0 0 0 1%;
}

.ppgs__action {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.ppgs__reload {
    display: flex;
    align-items: center;
}

.ppgs__button {
    margin-left: 2%;
}

.ppgs__filter {
    width: 20%;
    margin-left: 2%;
}

.ppgs__descriptors {
    display: flex;
    flex-direction: column;
}

.ppgs__spinner {
    display: flex;
    align-items: center;
}

.ppgs__no-margin {
    margin: 0;
}

.mat-column-select,
.mat-column-id,
.mat-column-bp_systolic,
.mat-column-bp_diastolic,
.mat-column-true_gluco,
.mat-column-subject_age,
.mat-column-subject_height,
.mat-column-subject_weight,
.mat-column-subject_sex,
.mat-column-subject_isdiabetic,
.mat-column-subject_email,
.mat-column-dim_corr,
.mat-column-hurst_exp,
.mat-column-lyapunov_exp,
.mat-column-details {
    text-align: center;
}

.mat-column-dim_corr,
.mat-column-hurst_exp,
.mat-column-lyapunov_exp {
    background-color: rgba(0,0,0,.12);
}

.mat-column-true_gluco {
    background-color: #ffa8b2;
}