html, body{
    height: 100%;
}

body{
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.alert{
    color: red;
}

.mat-tab-group {
    flex: 1 1 100%;
}

.mat-tab-body-wrapper {
    flex: 1 1 100%;
}